<ion-content>
  <div id="layer">
    <img src="../../../assets/img/globo1.png" alt="">
    <img src="../../../assets/img/globo2.png" alt="">
    <img src="../../../assets/img/globo3.png" alt="">
    <img src="../../../assets/img/globo1.png" alt="">
    <img src="../../../assets/img/globo2.png" alt="">
    <img src="../../../assets/img/globo3.png" alt="">
    <img src="../../../assets/img/globo1.png" alt="">
    <img src="../../../assets/img/globo2.png" alt="">
    <img src="../../../assets/img/globo3.png" alt="">
    <img src="../../../assets/img/globo1.png" alt="">
    <img src="../../../assets/img/globo2.png" alt="">
  </div>
  <div id="text">
    <div id="card">
      <h1>Felicidades </h1>
      <p>Tu puntuación final es de</p>
      <div id="result">{{ result }}</div>
      <ion-button routerLink="/home"><h5>Home</h5></ion-button>
    </div>
    <div class="container">
      <div class="branch">
        <div></div>
      </div>
      <div class="owl">
        <div class="feather-r">
          <div class="feather-pass"></div>
          <div class="feather-pazz"></div>
        </div>
        <div class="feather-l">
          <div class="feather-pass2"></div>
          <div class="feather-pazz2"></div></div>
        <div class="wing-l wing-lA"></div>
        <div class="wing-r wing-rA"></div>
        <div class="eye-l">
          <div class="eyeball"></div>
          <div class="eyelidA"></div>
        </div>
        <div class="eye-r">
          <div class="eyeball"></div>
          <div class="eyelidA"></div>
        </div>
        <div class="body-feather"></div>
        <div class="body-feather2"></div>
        <div class="body-feather3"></div>
        <div class="beak"></div>
        <div class="leg-l"></div>
        <div class="leg-r"></div>
      </div>
      <div class="contenedorZ">
        <span>Z</span>
        <span>Z</span>
        <span>Z</span>
      </div>
    </div>
  </div>
</ion-content>
