ion-content{
    --background: #ffffff;
}

#container {
    text-align: center;
    background-size: cover;
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.15) 65%, rgba(198,198,198,0.13) 85%, rgba(128,128,128,0.1) 100%);
}

#header{
    width: 100%;
    height: 45%;
    background: url(../../../assets/img/birds.jpg);
    background-size: cover;
    background-position: 0 20%;
}

#header h6{
    font-family: 'Quicksand-light';
    color: #ffffff;
    font-size: 100%;
    position: absolute;
    top: 8%;
    width: 100%;
    text-shadow: 0% 3% 4% #000000;
    z-index: 10;
    animation-delay: 1s;
}

#header h1{
    font-family: 'neueM';
    color: #ffffff;
    text-transform: uppercase;
    font-size: 200%;
    font-weight: bold;
    position: absolute;
    top: 10.5%;
    width: 100%;
    text-shadow: 0% 3% 4% #000000;
    z-index: 10;
    animation-delay: 1s;
}

svg{
    margin-top: -5%;
    transform: rotate(0deg);
    margin-left: -10%;
}

ion-button{
    height: 12%;
    width: 40%;
    margin-top: 55%;
    opacity: .82;
    --background: #F1C723;
    --background-hover: #F1C723;
    z-index: 10;
    animation-delay: 1.2s;
}

ion-button h5{
    font-size: 100%;
    margin-top: 9%;
    text-shadow: 0% 3% 4% #616161;
}

.bar{
    width: 1%;
    height: 2.5%;
    position: absolute;
    background: #F9D54A;
    left: 5%;
    top: 48%;
}
.bartxt{
    position: absolute;
    margin-top: -15.5%;
    width: auto;
    font-size: 100%;
    font-family: 'Quicksand-regular';
    color: #0768A9;
    left: 7%;
    top: 56%;
}

.slide-full{
    height: 49% !important;
    margin-top: 0%;
    --bullet-background: #0768A9;
    --bullet-background-active: #F9D54A;
}

ion-icon[name=medical]{
    height: 7%;
    width: 7%;
    position: absolute;
    top: 0%;
    left: 0%;
  }

ion-card{
    overflow: unset !important;
    height: 80%;
    width: 100%;
    box-shadow: 0px 10px 12px 0px rgba(0,0,0,0.75);
}

ion-card-header{
    position: relative;
}

ion-card-title{
    color: #fff;
    font-size: 700%;
    text-align: center;
    width: 100%;
    font-family: 'hello';
    text-transform: uppercase;
    position: absolute;
    left: 0%;
    top: 90%;
}

.slide-full .slide ion-card{
    border-radius: 15px;
    background-size: cover;
    margin-top: 7.5%;
    user-select: none; 
    box-shadow: 0% 3% 10% 0% rgba(0,0,0,1);
}


.slide-full .slide:nth-child(1) ion-card{
    --background: url(../../../assets/img/trianabg.jpg);
    background-position: -125px 0;
}

.slide-full .slide:nth-child(2) ion-card{
    --background: url(../../../assets/img/veguetabg.jpg);
    background-position: -125px 0;
}

.slide-full .slide:nth-child(3) ion-card{
    --background: url(../../../assets/img/slides/cave-near-sea-1853373.jpg);
}

.slide-full .slide:nth-child(4) ion-card{
    --background: url(../../../assets/img/slides/mountain-range-under-beige-sky-1670187.jpg);
}

#cardOp{
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.49) 72%, rgba(0,0,0,1) 90%, rgba(0,0,0,1) 100%);
    border-radius: 15px;
    margin-top: -15%;
}

