#contenedor{
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.15) 65%, rgba(198,198,198,0.13) 85%, rgba(128,128,128,0.1) 100%);
}

ion-list{
    width: 100%;
    position: absolute;
    top: 3%;
}