ion-content{
    --background: #ffffff;
}

#contenedor{
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 42%, rgba(253,253,253,1) 65%, rgba(203,203,203,1) 100%);
}

#contenedor > div {
    height: 10%;
    width: 90%;
    position: absolute;
    left: 5%;
    background: white;
    box-shadow: 0px 0px 10px #b1b1b1;
}


#list{
    top: 5%;
}

#list #img1{
    height: 6vh;
    width: 6vh;
    position: absolute;
    border-radius: 50%;
    top: 18%;
    left: 4%;
}

#list #img2{
    height: 35%;
    width: 35%;
    position: absolute;
    border-radius: 50%;
    top: 50.5%;
    left: 22%;
}

#list h1{
    width: 100%;
    position: absolute;
    top: -25%;
    left: 20%;
    font-size: 18px;
    font-family: 'Quicksand-regular';
}

#list ion-icon{
    color: #0768A9;
    width: 30%;
    height: 30%;
    position: absolute;
    top: 32.5%;
    left: 77%;
  }


#list2{
    top: 20%;
}

#list2 #img1{
    height: 6vh;
    width: 6vh;
    position: absolute;
    border-radius: 50%;
    top: 18%;
    left: 4%;
}

#list2 #img2{
    height: 35%;
    width: 35%;
    position: absolute;
    border-radius: 50%;
    top: 50.5%;
    left: 22%;
}

#list2 h1{
    width: 100%;
    position: absolute;
    top: -25%;
    left: 20%;
    font-size: 18px;
    font-family: 'Quicksand-regular';
}

#list2 ion-icon{
    color: #0768A9;
    width: 30%;
    height: 30%;
    position: absolute;
    top: 32.5%;
    left: 77%;
  }


#list3{
    top: 35%;
}

#list3 #img1{
    height: 6vh;
    width: 6vh;
    position: absolute;
    border-radius: 50%;
    top: 18%;
    left: 4%;
}

#list3 #img2{
    height: 35%;
    width: 35%;
    position: absolute;
    border-radius: 50%;
    top: 50.5%;
    left: 22%;
}

#list3 h1{
    width: 100%;
    position: absolute;
    top: -25%;
    left: 20%;
    font-size: 18px;
    font-family: 'Quicksand-regular';
}

#list3 ion-icon{
    color: #0768A9;
    width: 30%;
    height: 30%;
    position: absolute;
    top: 32.5%;
    left: 77%;
  }
