<ion-content [fullscreen]="true">

  <div id="container">
    <div id="bg-icon" class="animated bounceIn"></div>
    <div id="home-op"></div>
    <div id="home-txt">
      <h3 class="animated bounceInLeft fast">Discover To</h3>
      <h1 class="animated bounceInRight">Adventure</h1>
      <ion-item class="ion-selects animated fadeIn">
        <ion-label>Seleccione su destino</ion-label>
        <ion-select placeholder="">
          <ion-select-option value="f">Las Palmas de Gran Canarias</ion-select-option>
          <ion-select-option value="m">Denmark</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-button mode="ios" fill="solid" routerLink="/canary-h" class="animated fadeInUp">Start Now</ion-button>
    </div>
  </div>

</ion-content>
